<section id="contacto">
    
    <div class="backgroundContacto">
        <div class="moduleContacto">
            <h4>CONTACTO</h4>
        </div>
    </div>

      <div class="info">
        <a class="instagram" href="https://www.instagram.com/laortiba/" target="_blank" rel="noreferrer noopener">
            <img src="../../../assets/images/instagram.svg" alt="instagram">
            <span>instagram.com/laortiba</span>
        </a>
        <a class="facebook" href="https://www.facebook.com/laortiba" target="_blank" rel="noreferrer noopener">
            <img src="../../../assets/images/facebook.svg" alt="facebook">
            <span>facebook.com/laortiba</span>
        </a>
        <a class="email" href="mailto:orquestadetangolaortiba@gmail.com" target="_blank" rel="noreferrer noopener">
            <img src="../../../assets/images/email.svg" alt="email">
            <span>orquestadetangolaortiba@gmail.com</span>
        </a>
        <a class="whatsapp" href="https://www.instagram.com/laortiba/" target="_blank" rel="noreferrer noopener">
            <img src="../../../assets/images/whatsapp.svg" alt="whatsapp">
            <span>La Ortiba</span>
        </a>
       </div>
    
</section>
