<section id="quienesSomos">
    
    <div class="backgroundQuienesSomos">
        <div class="moduleQuienesSomos">
            <h1 class="title">¿QUIENES SOMOS?</h1>
        </div>
    </div>

      <div class="info">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod labore ratione amet! Id, facere. Nisi voluptatem hic nemo cumque, necessitatibus at, tempora ipsam voluptates adipisci aut libero nobis nam consequatur. Lorem, ipsum dolorsit
            amet consectetur adipisicing elit. Fugiat, nulla laudantium facilis omnis unde lor </p>
    </div>
    
</section>
