<section id="integrantes">
    
    <div class="backgroundIntegrantes">
        <div class="moduleIntegrantes">
            <h2>INTEGRANTES</h2>
        </div>
    </div>
    
    <div class="info">
        <owl-carousel-o class="carousel" [options]="customOptions">
            <ng-template carouselSlide>
               <div class="card">
                   <p class="nombre">Ariana Zigart</p>
                   <div><img src="../../../assets/images/ariana.jpg" alt=""></div>
                   <p class="descripcion">Gabriel Iván Lamberghini Serafini nació el 23 de octubre de 1998 en Buenos Aires, Argentina. A la edad de 11 años tuvo su primer contacto con la musica tomando clases de guitarra con Juan Hermelo. Al pasar los años fue formando
                       diferentes grupos de Rock y Funk con sus compañeros del colegio. Al finalizar el secundario se produzco una ruptura en su vida el cual lo llevo a realizarse diferentes preguntas de introspección, en consecuencia esto lo llevo
                       a estudiar un nuevo instrumento que fue el bandoneón. Completamente fascinado con este instrumento comenzó a estudiar con Carlos Viggiano, posteriormente musicalizar obras de teatro e ingresar a diferentes orquestas (La de
                       Angelis Tango Club y Orquesta Tipica No Docente). Actualmente se encuentra realizando sus estudios con Horacio Romo y participando del grupo de tango La Ortiba.</p>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="card">
                    <p class="nombre ">Gabriel Lamberghini</p>
                    <div><img src="../../../assets/images/gabo.jpg" alt=""></div>
                    <p class="descripcion">Gabriel Iván Lamberghini Serafini nació el 23 de octubre de 1998 en Buenos Aires, Argentina. A la edad de 11 años tuvo su primer contacto con la musica tomando clases de guitarra con Juan Hermelo. Al pasar los años fue formando
                        diferentes grupos de Rock y Funk con sus compañeros del colegio. Al finalizar el secundario se produzco una ruptura en su vida el cual lo llevo a realizarse diferentes preguntas de introspección, en consecuencia esto lo llevo
                        a estudiar un nuevo instrumento que fue el bandoneón. Completamente fascinado con este instrumento comenzó a estudiar con Carlos Viggiano, posteriormente musicalizar obras de teatro e ingresar a diferentes orquestas (La de
                        Angelis Tango Club y Orquesta Tipica No Docente). Actualmente se encuentra realizando sus estudios con Horacio Romo y participando del grupo de tango La Ortiba.</p>
                
                 </div>
             </ng-template>  
             <ng-template carouselSlide>
                <div class="card">
                    <p class="nombre">Karen Selva</p>
                    <div><img src="../../../assets/images/karen.jpg" alt=""></div>
                    <p class="descripcion">Karen Selva nació el 03 de Marzo de 1997 en Buenos Aires, Argentina. A la edad de 8 años tuvo su primer contacto con la música tomando clases de canto y coro con la profesora Marina Prá. Al pasar los años se adentró más en el mundo
                        de la música, quedando fascinada por un instrumento, el violín, el cual comenzó a estudiar a los 13 años con el profesor Ernesto Picerno. Ella participó en diferentes conciertos y ensambles a medida que crecía musicalmente
                        (coro Alluí, orquesta Cambalache, ensamble Trifoglio, entre otros). En el año 2013 comenzó sus estudios en el conservatorio de música Alfredo Luís Schiuma de San Martín. Actualmente se encuentra realizando el Profesorado de
                        Violín en dicha institución con la profesora Carolina Chiappe y participando del grupo de tango La Ortiba.
                    </p>
                 </div>
             </ng-template> 
                    <ng-template carouselSlide>
                <div class="card">
                    <p class="nombre">Martín Rivera</p>
                    <div><img src="../../../assets/images/martin.jpg" alt=""></div>
                        <p class="descripcion">Juan Martín Rivera nació el 21 de mayo de 1999 en Remedios de Escalada, Buenos Aires. Comenzó sus estudios musicales en el Conservatorio de Música Julián Aguirre de Banfield en 2008. Ahí estudió guitarra con Gabriel Moncayo. En
                            2014 empezó a estudiar violín. Estudió con Alejandro Schaikis y Pablo Sangiorgio (continúa en la actualidad) Al terminar la secundaria ingresa a la Universidad Católica Argentina para estudiar dirección orquestal (actualidad).
                            Desde 2020 estudia canto con la soprano Marina Silva (actualidad). Se presentó como violinista en ensambles de cámara, bandas de música country/folk, integró coros y hoy es parte de la Orquesta Juvenil de Hurlingham y toca
                            en el sexteto de tango "La Ortiba".</p>
                     </div>          
                 </ng-template>   
                    <ng-template carouselSlide>
                        <div class="card">
                             <p class="nombre">Luca Eizaguirre</p>
                        <div><img src="../../../assets/images/luca.jpg" alt=""></div>
                        <p class="descripcion">Luca Eizaguirre nació en Santa Rosa, La Pampa en septiembre de 1994. Comenzó sus estudios musicales de bajo y piano en 2007 en su ciudad natal, los cuales continúo en Buenos Aires al finalizar los estudios secundarios. Posteriormente,
                            se graduó de la tecnicatura básica en el Conservatorio Manuel de Falla y, hoy en dia, cursa la Licenciatura en artes musicales en la UNA.</p>
                   
                        </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="card">
                        <p class="nombre">Martína Pastor</p>
                        <div><img src="../../../assets/images/martina.jpg" alt=""></div>
                        <p class="descripcion">Martina Pastor nació el 18 de septiembre del 2000. A la edad de 8 años toca en su colegio los profesores de la orquesta escuela san Martín y como resultado nació una fascinación por el instrumento que la acompaña hasta la actualidad,
                            la viola. Inmediatamente ingresa al Conservatorio Alfredo Schiuma donde sigue perfeccionándose. Fue integrante de la Orquesta Juvenil Nacional y la Orquesta Juvenil Municipal y ganó dos años consecutivos becas de perfeccionamiento
                            en el instrumento con músicos reconocidos de la Orq de Londres entre otros. Actualmente es estudiante del Instituto del Teatro Colón.
                        </p>
                     </div>
                </ng-template>
                </owl-carousel-o>
        </div>

</section>

